.vendorss .owl-carousel .owl-item {
    height: 123px;
}
.vendorss .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    /* padding: 20px; */
    padding: 5px;
    border: 2px solid var(--secondColor);
    height: 100%;
}
/*single-plog*/
.single_plog{
    color: #797979;
    font-family: "Manrope", Sans-serif;
    font-weight: 400;
}
.single_plog p{
    font-size: 20px;
    /*color:#e1dede*/
}
.single_plog img{
    box-shadow: 4px 4px #dfd9d9;
}
.plogs .item{
    display: inline-block;
    padding: 9px 15px;
}
.plogs img{
    box-shadow: 4px 4px #dfd9d9;
}
.angles{
    padding: 50px;
    background: #ebebeb;
}
.angles .one{
    border-left: 2px solid #b1aeae;
}
.angles .contant{
    display: flex;
    align-items: flex-end;
}
.angles .left{
    background-color: #D3B975;
    padding: 15px 21px;
    color: #fff;
    font-size: 28px;
    margin-left:10px;
}
.angles h4{
    font-size: 19px;
    font-weight: bold;
}

    /*comments*/
    .Reviews{
        padding: 30px;
        margin:20px 10px !important;
    
    }
.Reviews h3{
    font-size: 20px;
    font-weight: bold;

}
.Reviews .comment_note{
    color:#555;
}
#comment{
    margin-top:15px;
}
/*service*/
.single-service h2{
    font-weight: bold;
    font-size: 20px;

}
.single-service ul{
    border: 3px solid #f2f7fd;
    padding: 20px;
    margin: 10px 2px;
}
.single-service ul li{
    padding:10px 10px;
    border-bottom: 1px solid #ebf3fd;
}
.single-service ul li:hover{
    background-color: #D3B975;
}

.single-service ul li.active{
    background-color: #D3B975;
}
.benefits span{
    background: #D3B975;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    float: right;
}

.benefits ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.benefits ul li span {
    margin-left: 5px;}

.boxes{
    padding:20px 10px;
    background: #131e4a;
    color:#fff;
    position: relative;
    
}
.boxes .icon{
    position: absolute;
    margin-left: 10px !important;
}
.part2{
    position: relative;
   

}
.part2 .overlay{
    position: absolute;
    top: 0;
    background-color: #131e4ad6;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.part2 h5{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}

.part2 a{
    padding: 10px 20px;
    display: block;
    background: #D3B975;
    color: #fff;
    border-radius: 40px;
    text-align: center;
}